{% extends "frontend/index.html" %}

{% block content %}
        <h1>مرحبا بك فى لعبة الذاكرة</h1>
        <p>
          تحدى ذاكرتك وحسن مهاراتك!
        </p>
        <div class="buttons">
            <a href="{% url 'play_game' %}">بدء اللعب</a>
            <a href="{% url 'instructions' %}">إرشادات اللعب</a>
            <a href="{% url 'high_scores' %}">عرض سجلات اللعب السابقة</a>
        </div>
        <div class="language-switcher">
            <form method="post" action="{% url 'set_language' %}">
                {% csrf_token %}
                <select name="language" onchange="this.form.submit()">
                  <option value="0" disabled>select language / إختر اللغة</option>
                    <option value="en" {% if LANGUAGE_CODE == "en" %}selected{% endif %}>English</option>
                    <option value="ar" {% if LANGUAGE_CODE == "ar" %}selected{% endif %}>العربية</option>
                </select>
            </form>
            <form method="GET" action="#" name="ageDiffLvl">
              <div class="form-group">
                  <label for="age">إدخل عمرك</label>
                  <input type="number" class="form-control" name="age" id="age" placeholder="ادخل سنك" required>
              </div>
              <div class="form-group">
                  <label for="difficulty">اختر مستوى الصعوبة</label>
                  <select name="difficulty" id="difficulty" required>
                      <option value="easy">سهل</option>
                      <option value="medium">متوسط</option>
                      <option value="hard">صعب</option>
                  </select>
              </div>
              <button type="submit" class="btn btn-primary">ابدأ اللعب</button>
          </form>
        </div>
    </div>

{% endblock %}